.footerArea{
    background: #484848;
}
.footerSection {
    display: flex;
    justify-content: start;
    list-style: none;
    padding-left: 16px;
    margin-bottom: 0px;
    flex-wrap: wrap;
}

.footerSection li {
    margin: 0px 10px;
    position: relative;
}

.footerSection li::before {
    content: '';
    position: absolute;
    right: -9px;
    height: 50%;
    border-right: 1px solid #ccc;
    top: 6px;
}
.footerSection li:last-of-type::before{
    display: none;
}
.footerSection li a{
    color: #ccc;
}