.Second-Header{
    padding:10px 50px 10px 70px;
    background-color: #ccc;
    margin-bottom: 15px;
}
.Second-Header h1{
    font-size: 24px;
    margin-bottom: 0px;
}
@media screen and (max-width:767px){
    .ant-layout-header{
        padding:0px 10px !important;
    }
    .Second-Header{
        padding:10px 30px !important;
    }
    .ant-layout-content{
        padding:0px 5px !important;
    }
}